<template>
  <div class="w-2/4 bg-skin-primary p-10 mx-auto rounded-md mt-10">
    <div class="text-skin-base pb-4 text-3xl font-semibold">{{ name }}</div>
    <input
      class="
        block
        text-skin-muted
        p-1
        m-4
        ml-0
        w-full
        rounded
        text-lg
        font-normal
        placeholder-gray-500
      "
      id="username"
      type="text"
      placeholder="nombre de la tarea"
      v-model="task"
    />
    <input
      class="
        block
        text-gray-700
        p-1
        m-4
        ml-0
        w-full
        rounded
        text-lg
        font-normal
        placeholder-gray-500
      "
      id="password"
      type="text"
      placeholder="description de la tarea"
       v-model="desp"
    />
    <button
      class="
        inline-block
        mt-2
        bg-skin-button-accent
        hover:bg-skin-button-accent-hover
        px-6
        py-2
        rounded
        text-white
        shadow-lg
      "
      @click="addTaksk"
    >
      Agregar tarea
    </button>
  </div>

  <section class="w-3/5 mx-auto mt-4 p-3">
    <div
    v-for="todo in todos"
    class="flex mb-4 items-center"
    :key="todo.name"
    >
      <p :class="{'text-skin-inverted line-through': todo.isCompleted }" class="w-full text-grey-darkest">
        {{ todo.name }} -  {{ todo.desp }}
      </p>
      <button
        v-if="todo.isCompleted === false"
        class="
          flex-no-shrink
          p-2
          ml-4
          mr-2
          border-2
          rounded
          hover:text-skin-base
          hover:bg-skin-primary
          text-green
          border-green
          hover:bg-green
        "
        @click="completedTask(todo.id)"
      >
        Done
      </button>

      <button
        v-if="todo.isCompleted === true"
        class="
          flex-no-shrink
          p-2
          ml-4
          mr-2
          border-2
          rounded
          hover:text-skin-base
          hover:bg-skin-primary
          text-green
          border-green
          hover:bg-green
        "
        @click="completedTask(todo.id)"
      >
        Deshacer
      </button>

      <button
        class="
          flex-no-shrink
          p-2
          ml-2
          border-2
          rounded
          text-skin-muted
          border-red
          hover:text-skin-muted
          hover:bg-skin-primary
        "
        @click="deleteTask(todo.id)"
      >
        Remove
      </button>
    </div>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'

type todo = {
  id: number,
  name: string,
  desp: string,
  isCompleted: boolean,
}

export default defineComponent({
  name: 'options',
  data: () => {
    return {
      name: 'options',
      todos: [] as todo[],
      todo: {
        id: 0,
        name: '',
        desp: '',
        isCompleted: false
      } as todo,
      task: '',
      desp: ''
    }
  },
  methods: {
    addTaksk (): void {
      this.todo.id = Math.floor(Math.random() * 10000)
      this.todo.name = this.task
      this.todo.desp = this.desp

      this.todos = [...this.todos, this.todo]

      this.task = ''
      this.desp = ''
    },
    deleteTask (id: number): void {
      const newList = this.todos.filter(todo => todo.id !== id)
      this.todos = newList
    },
    completedTask (id: number): void {
      const taskIndex = this.todos.findIndex(todo => todo.id === id)
      this.todos[taskIndex].isCompleted = !this.todos[taskIndex].isCompleted
    }

  }
})
</script>

<style>
</style>
