<template>
  <router-link to="/todo">composition</router-link> |
  <router-link to="/options">options</router-link>
  <router-view />
</template>

<script lang="ts">
import { defineComponent } from 'vue'

export default defineComponent({

})
</script>
