<template>
  <div class="home">
    <h1>Home</h1>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'// @ is an alias to /src

export default defineComponent({
  name: 'Home',
  components: {
  }
})
</script>
