<template>
  <button class="
          flex-no-shrink
          p-2
          ml-2
          border-2
          rounded
          text-skin-muted
          border-red
          hover:text-skin-muted
          hover:bg-skin-primary
        "
        @click="setLanguaje('es')"
        >es
        </button>
  <button class="
          flex-no-shrink
          p-2
          ml-2
          border-2
          rounded
          text-skin-muted
          border-red
          hover:text-skin-muted
          hover:bg-skin-primary
        "
        @click="setLanguaje('en')"
        >en
        </button>
  <p class="mt-10">{{ $t('message') }}</p>

  <section class="mt-10 grid grid-flow-row gap-2">
    <p>{{ $d(new Date(), 'short', $t('currency') ) }}</p>
    <p>{{ $d(new Date(), 'long', $t('currency') ) }}</p>
  </section>

   <section class="mt-10 grid">
   <p>{{ $n(100, 'currency', $t('currency') ) }}</p>
  <p>{{ $n(100, 'currency', $t('currency') ) }}</p>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import { useI18n } from 'vue-i18n'
export default defineComponent({
  name: 'idiomas',
  setup () {
    const { locale } = useI18n()
    return {
      locale,
      setLanguaje (lang: string) {
        locale.value = lang
      }
    }
  }
})
</script>
