@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  .default {
    --color-text-base: #fff;
    --color-text-muted: #357B85;
    --color-text-inverted: #23385C;
    --color-fill: #7BD5E1;
    --color-button-accent: #00A5B9;
    --color-button-accent-hover: #7BB2B9;
    --color-button-muted: #fff;
  }
  .theme-bingoStar {
    --color-text-base: #fff;
    --color-text-muted: #FF8467;
    --color-text-inverted: #B66755;
    --color-fill: #FF6B48;
    --color-button-accent: #FF8467;
    --color-button-accent-hover: #F14218;
    --color-button-muted: #fff;
  }
  .theme-green {
    --color-text-base: #fff;
    --color-text-muted: #357B85;
    --color-text-inverted: #23385C;
    --color-fill: #7BD5E1;
    --color-button-accent: #00A5B9;
    --color-button-accent-hover: #7BB2B9;
    --color-button-muted: #fff;
  }
}